@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.table-container {
	@include column-flex-j-center-a-center;
	max-width: 80%;
	margin: 0 auto;
	padding: 2.5rem;
}

table {
	border-radius: 15px;
	overflow: hidden;
	margin: 0;
	box-shadow: $shadow-card;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
	background-color: $bg-card !important;
}

#id-col-table {
	@include flex-j-evenly-a-center;
}