*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
	display: unset;
	margin: 0;
	padding: 0;
	text-decoration: none;
	user-select: none;
	cursor: unset;
}

ul,
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}