@mixin flex-j-center-a-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@mixin flex-j-between-a-center {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-j-evenly-a-center {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

@mixin flex-j-around-a-center {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

@mixin flex-j-fstart-a-center {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

@mixin flex-j-fend-a-center {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

@mixin column-flex-j-center-a-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin column-flex-j-start-a-start {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}