@use "../utils/variables" as *;

.action-btn {
	padding: 0.2em 0;
	border-radius: 6px;
	font-weight: 500;
	color: #fff;
	transition: all 0.3s ease;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	font-size: 0.7rem;
	min-width: 5rem;
}

.action-btn[href*="action=new"],
.action-btn[type="submit"] {
	align-self: flex-end;
	background: $bg-add-btn;
}

.action-btn[href*="action=new"]:hover,
.action-btn[type="submit"]:hover {
	transform: $translate-hover;
	box-shadow: $shadow-add-btn;
	border-radius: 6px;
}

.action-btn[href*="action=edit"] {
	background: $bg-edit-btn;
}

.action-btn[href*="action=edit"]:hover {
	transform: $translate-hover;
	box-shadow: $shadow-edit-btn;
	border-radius: 6px;
}

.action-btn[href*="action=delete"] {
	background: $bg-delete-btn;
}

.action-btn[href*="action=delete"]:hover {
	transform: $translate-hover;
	box-shadow: $shadow-delete-btn;
	border-radius: 6px;
}

//For editor.jsp buttons
.action-btn[href*="contacts"]:not([href*="action"]) {
	background: $bg-delete-btn;
}

.action-btn[href*="contacts"]:not([href*="action"]):hover {
	transform: $translate-hover;
	box-shadow: $shadow-delete-btn;
	border-radius: 6px;
}